<div class="definition-subject-associations-form-fields">
<% if object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(object.errors.count, "error") %> prohibited this definition subject association from being saved:</h2>

      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<fieldset>
  <legend><%= ts(:for, what: t('information.general'), whom: DefinitionSubjectAssociation.model_name.human.titleize) %></legend>
  <div class="flexContainer">
    <div class="sidePanel">
      <%= form.label :branch_name, DefinitionSubjectAssociation.human_attribute_name('branch').s %>
      <%= info_popup_link_for('Branch', "<p>The <i>root subject</i> refers to the general category such as <i>Religious Systems</i> from which a specific instance under it will be chosen as <i>subsidiary subject</i> below.</p>", 100) %>
      <%= form.hidden_field :branch_id, id: :branch_id %>
      <%= text_field_tag :branch_name, :post, { placeholder: 'Search by branch name', value: object.branch.blank? ? '' : object.branch['header'] } %>
      <p>If you want to view a different root subject, replace the text in the box above and search for it. Or, use the tree below to select the root subject.</p>
       <div id="branch_tree_container"></div>
    </div>
	
    <div class="sidePanel" id="subject_container">
      <%= form.label :subject_name, DefinitionSubjectAssociation.human_attribute_name('subject').s %>
      <%= info_popup_link_for('Subject', "<p>The <i>subsidiary subject</i> refers to the specific instance such as <i>The Vehicle of the Yoga Tantras</i> under the general category specified above as <i>root subject</i>.</p>", 100) %>
      <%= form.hidden_field :subject_id, id: :subject_id %>
      <%= text_field_tag :subject_name, :post, { placeholder: 'Search by subject name', value: object.subject.blank? ? '' : object.subject['header'] } %>
     <p>If you want to search for a specific subject node within the above ROOT SUBJECT and its descendants,  put the text in the box above and search for it.</p>
     <div id="subject_tree_container"></div>
    </div>
  </div>
</fieldset>
</div> <!-- END - subject-term-associations-form-fields -->
<%= content_tag :div, '', id: 'definition_subject_association_js_data', data: {
 term_index: Feature.config.url,
 asset_index: ShantiIntegration::Source.config.url,
 feature_id: '',
 domain: 'subjects',
 perspective: 'gen',
 tree: 'subjects',
 features_path: new_admin_feature_path(parent_id: '%%ID%%'),
 mandala_path: 'https://mandala.shanti.virginia.edu/%%APP%%/%%ID%%/%%REL%%/nojs',
} %>
<%= javascript_include_tag 'terms_engine/definition_subject_associations_admin' %>
