<%
if object.etymology.context.instance_of? Feature
  add_breadcrumb_item link_to object.etymology.context.model_name.human.titleize.s, polymorphic_url([:admin, object.etymology.context])
else
  add_breadcrumb_item link_to object.etymology.context.model_name.human.titleize.s, polymorphic_url([:admin, object.etymology.context.feature])
  add_breadcrumb_item link_to object.etymology.context.model_name.human.titleize.s, polymorphic_url([:admin, object.etymology.context.feature, object.etymology.context])
end
add_breadcrumb_item link_to Etymology.model_name.human(count: :many).titleize.s , polymorphic_url([:admin, object.etymology.context, object.etymology])
add_breadcrumb_item object.id
%>
 <section class="panel panel-content">
   <div class="panel-heading">
     <h6><%= EtymologySubjectAssociation.model_name.human.titleize.s %></h6>
   </div>
     <div class="panel-body">
    <p id="notice"><%= notice %></p>

    <p>
    <strong><%= EtymologySubjectAssociation.human_attribute_name('branch').s %>:</strong>
    <%= object.branch['header'] %>
    </p>
    <p>
    <strong><%= SubjectsIntegration::Feature.human_name.titleize.s %>:</strong>
    <%= object.subject['header'] %>
    </p>

     <%= link_to ts('edit.this'), edit_admin_etymology_etymology_subject_association_path(object.etymology, object), class: 'btn btn-primary form-submit' %> |
     <% if !defined?(object.etymology) %>
       <%= link_to ts('back.this'), admin_path  %>
     <% else %>
       <%=  link_to ts('cancel.this'), polymorphic_url([:admin,object.etymology.context,object.etymology]), class: 'btn btn-primary form-submit', id: 'edit-cancel' %>
     <% end %>
  </div> <!-- END panel-body -->
 </section> <!-- END panel -->
