<%= form_with(model: recording, local: true) do |form| %>
  <% if recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recording.errors.count, "error") %> prohibited this recording from being saved:</h2>

      <ul>
      <% recording.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :feature_id %>
    <%= form.text_field :feature_id, id: :recording_feature_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
