<p id="notice"><%= notice %></p>

<p>
  <strong>Feature:</strong>
  <%= @recording.feature %>
  <%= @recording.feature.description %>
  <strong>Audio:</strong>
  <%= link_to @recording.audio_file.blob.filename, url_for(@recording.audio_file) %>
    <%= audio_tag url_for(@recording.audio_file), controls: true %>
</p>

<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', recordings_path %>
