<% if list.empty? %>
  <%=  empty_collection_message("No #{Definition.model_name.human(count: :many).s} found.") %>
<% else %>
<%     if @locating_relation %>
          <div class="left highlight">
<%=         link_to ts('definition.association_link'), locate_for_relation_admin_feature_path(object.feature.fid) %>.
          </div>
<%     end %>
   <table class="listGrid">
     <tr>
       <th class="listActionsCol"></th>
       <th><%= Definition.model_name.human.titleize.s %></th>
       <th><%= Language.model_name.human.titleize.s %></th>
       <th><%= Citation.model_name.human(count: :many).titleize.s %></th>
     </tr>
<%= render partial: 'admin/definitions/row', collection: list, as: :item, locals: { level: 0 } %>
   </table>
<% end %>
