<% if list.empty? && show_header %>
  <%= empty_collection_message("No #{Definition.model_name.human(count: :many).s} found.") %>
<% else %>
  <table class="listGrid">
    <% if show_header %>
     <tr>
       <th>Dictionary</th>
       <th class="listActionsCol"></th>
       <th><%= Language.model_name.human.titleize.s %></th>
       <th><%= Definition.model_name.human.titleize.s %></th>
       <th><%= Citation.model_name.human(count: :many).titleize.s %></th>
     </tr>
    <% end %>
     <%= render partial: 'admin/definitions/row_legacy_in_house', collection: list, as: :row, locals: { level: 0 } %>
   </table>
<% end %>
