<tr>
<% padding = level * 25 %>
   <td><%= source.title if !source.nil? %></td>
   <td class="centerText">
<%=  list_actions_for_item(item, delete_path: admin_feature_definition_path(item.feature, item),
       edit_path: edit_admin_feature_definition_path(item.feature, item),
       view_path: admin_feature_definition_path(item.feature, item)) %>
   </td>
   <td><%= item.language.name %></td>
   <td style="padding-left: <%= padding %>px"><%= item.snippet.s %></td>
   <td><%= accordion_citation_list_fieldset(object: item) %></td>
</tr>
<%= render partial: 'admin/definitions/row_legacy_in_house', collection: item.children, as: :item, locals: { level: level+1, source: nil } %> 

