<% add_breadcrumb_item feature_link(object.feature)
   add_breadcrumb_item link_to SubjectTermAssociation.model_name.human(count: :many).titleize.s, admin_feature_subject_term_associations_path
   add_breadcrumb_item object.id %>
 <section class="panel panel-content">
   <div class="panel-heading">
     <h6><%= SubjectTermAssociation.model_name.human.titleize.s %></h6>
   </div>
     <div class="panel-body">
    <p id="notice"><%= notice %></p>

    <p>
    <strong><%= SubjectTermAssociation.human_attribute_name('branch').s %>:</strong>
    <%= object.branch['header'] %>
    </p>
    <p>
    <strong><%= SubjectsIntegration::Feature.human_name.titleize.s %>:</strong>
    <%= object.subject['header'] %>
    </p>

     <%= link_to ts('edit.this'), edit_admin_feature_subject_term_association_path(object.feature, object), class: 'btn btn-primary form-submit' %> |
     <% if !defined?(parent_object) %>
       <%= link_to ts('back.this'), admin_path  %>
     <% else %>
       <%=  link_to ts('cancel.this'), admin_feature_path(object.feature, section: "subjectAssociations"), class: 'btn btn-primary form-submit', id: 'edit-cancel' %>
     <% end %>
  </div> <!-- END panel-body -->
 </section> <!-- END panel -->
