<% full_index_id = "#{prefix}#{index}"
   passages = definition.passages
	 passage_translations = definition.passage_translations
   subject_associations = definition.definition_subject_associations
	 notes = definition.notes
	 citation_notes = definition.standard_citations %>
<div class="<%= definition_node_classes(is_child,def_level) %>">
  <ul id="terms-def-tabs-<%= full_index_id %>" class="nav nav-tabs terms-def-tabs-<%= full_index_id %>" role="tablist">
<% active_pending = true
   if !definition.content.blank? %>
	   <li class="active"><a href="#terms-def-<%= full_index_id %>" role="tab" data-toggle="tab"><%= index_to_text(full_index_id ) %> <%= Definition.model_name.human.s %></a></li>
<%   active_pending = false
   end
   if !notes.empty? %>
     <li<%= " class=""active""" if active_pending %>><a href="#terms-notes-<%= full_index_id %>" role="tab" data-toggle="tab"><%= Note.model_name.human(count: notes.count).titleize.s %><span> (<%= notes.count %>)</span></a></li>
<%   active_pending = false
   end
   if !passages.empty? || !passage_translations.empty? %>
     <li<%= " class=""active""" if active_pending %>><a href="#terms-quotes-<%= full_index_id %>" role="tab" data-toggle="tab"><%= Passage.model_name.human(count: passages.count + passage_translations.count).titleize.s %><span> (<%= passages.count + passage_translations.count %>)</span></a></li>
<%   active_pending = false
   end
   if !subject_associations.empty? %>
     <li<%= " class=""active""" if active_pending %>><a href="#terms-resources-<%= full_index_id %>" role="tab" data-toggle="tab"><%= DefinitionSubjectAssociation.model_name.human(count: subject_associations.count).titleize.s %><span> (<%= subject_associations.count %>)</span></a></li>
<%   active_pending = false
   end
   if !citation_notes.empty? %>
     <li<%= " class=""active""" if active_pending %>><a href="#terms-citation-notes-<%= full_index_id %>" role="tab" data-toggle="tab">Citation Notes<span> (<%= citation_notes.count %>)</span></a></li>
<%   active_pending = false
   end %>
  </ul>
  <div class="tab-content">
<%  active_pending = true
    if !definition.content.blank?
			active_pending = false %>
    <div role="tabpanel" class="tab-pane active" id="terms-def-<%= full_index_id %>">
      <p><%= definition.content.s.html_safe %></p>
<%=   render(partial: 'etymologies', locals: { etymologies: definition.etymologies }) %>
      <p><a data-toggle="collapse" href="#definition-details-<%= full_index_id %>" role="button" aria-expanded="false" aria-controls="definition-details" class="definition-details-control collapsed">
        <span class="glyphicon"></span>Further Details
			</a></p>
      <div id="definition-details-<%= full_index_id %>" class="collapse definition-details-wrapper">
      <dl>
        <dt><%= Language.model_name.human %>:</dt> <dd><%= definition.language.name %></dd>
<%    if !definition.tense.blank? %>
        <dt><%= Definition.human_attribute_name(:tense).s %>:</dt> <dd><%= definition.tense %></dd>
<%    end
      if !definition.numerology.nil? %>
        <dt><%= Definition.human_attribute_name(:numerology).s %>:</dt> <dd><%= definition.numerology %></dd>
<%    end
      if !definition.author.nil? %>
        <dt><%= Definition.human_attribute_name(:author).s %>:</dt> <dd><%= definition.author.fullname %></dd>
<%    end %>
      </dl>
      </div>
    </div>
<%  end
    if !notes.empty? %>
      <div role="tabpanel" class="tab-pane terms-notes-tab-content<%= " active" if active_pending %>" id="terms-notes-<%= full_index_id %>">
<%=     render partial: 'notes', object: notes %>
      </div>
<%    active_pending = false
    end
    if !passages.empty? || !passage_translations.empty? %>
      <div role="tabpanel" class="tab-pane<%= " active" if active_pending %>" id="terms-quotes-<%= full_index_id %>">
<%=     render partial: 'passages', locals: { passages: passages, passage_translations: passage_translations } %>
      </div>
<%    active_pending = false
    end
    if !subject_associations.empty? %>
      <div role="tabpanel" class="tab-pane terms-resources-tab-content<%= " active" if active_pending %>" id="terms-resources-<%= full_index_id %>">
        <h4><%= SubjectsIntegration::Feature.human_name(count: subject_associations.count).titleize.s %></h4>
        <dl>
<%=       render partial: 'subjects', locals: { associations: subject_associations } %>
        </dl>
      </div>
<%    active_pending = false
    end
    if !citation_notes.empty? %>
      <div role="tabpanel" class="tab-pane terms-citation-notes-tab-content<%= " active" if active_pending %>" id="terms-citation-notes-<%= full_index_id %>">
<%=     render partial: 'citation_notes', object: citation_notes %>
      </div>
<%    active_pending = false
    end %>
  </div> <!-- END tab-content -->
</div> <!-- END terms-definition-node -->
<% definitions = definition.children
   if !definitions.empty? %>
<%=  render partial: 'definitions', locals: { definitions: definitions, is_child: true, prefix: "#{full_index_id}-", def_level: (def_level + 1)} %>
<% end %>