<% info_source = definition.citations.where(info_source_type: InfoSource.model_name.name).collect(&:info_source).first
   if !info_source.nil? %>
     <h4><%= info_source.title %></h4>
<% end %>
<%= definition.content.html_safe %>
<p><b><%= Language.model_name.human %></b>: <%= definition.language.name %>
<% if !definition.tense.blank? %>
	   <br><b><%= Definition.human_attribute_name(:tense).s %></b>: <%= definition.tense %>
<% end %>
<% if !definition.numerology.nil? %>
	   <br><b><%= Definition.human_attribute_name(:numerology).s %></b>: <%= definition.numerology %>
<% end %>
</p>
<% if !definition.author.nil? %>
     <p><b><%= Definition.human_attribute_name(:author).s %></b>: <%= definition.author.fullname %></p>
<% end %>
<% definitions = definition.children 
   if !definitions.empty? %>
		 <h6>Subdefinitions</h6>
<%=  render :partial => 'definitions', :locals => { definitions: definitions } %>		 
<% end %>