<% already_displayed = []
   0.upto(lists.size-1).each do |i|
     list = lists[i]
	   related_method = related_methods[i]
		 label_method = label_methods[i]
	   list.each do |item|
	     related = item.send(related_method)
	     if related.instance_of? Feature
	       feature = related
	       definition = nil
	     else
	       definition = related
	       feature = definition.feature
	     end %>
       <dt>
<%     relation_type = item.feature_relation_type
       if relation_type.is_symmetric?
				 next if already_displayed.include?([relation_type.id, feature.fid])
				 already_displayed << [relation_type.id, feature.fid] if relation_type.is_symmetric? %>
<%=      relation_type.label %>
<%     else %>
<%=      relation_type.send(label_method) %>
<%     end %>
			 </dt>
			 <dd><%= link_to feature.prioritized_name(current_view).name.s, feature_path(feature.fid) %> (<%= item.perspective.name %>) <%= citation_popup_link_for(item) %></dd>
<%     if !definition.nil? %>
       <dd><p><%= definition.content.s.html_safe %></p></dd>
<%     end
     end
   end %>