<%= stylesheet_link_tag('collapsible_list/kmaps_collapsible_list') %>
<% translations = feature.translation_equivalents
   feature_label = fname_labels(feature).s %>
<div class="field field-name-body field-type-text-with-summary field-label-hidden">
  <div class="field-items">
    <div class="field-item even" property="content:encoded">
      <div class="terms-node-wrapper">
        <div class="terms-introduction-tabs">
          <ul id="terms-intro-tabs" class="nav nav-tabs nav-justified terms-intro-tabs" role="tablist">
            <li class="active"><a href="#terms-intro" role="tab" data-toggle="tab">Term Definition</a></li>
            <li><a href="#terms-intro-details" id="details-tab-link" role="tab" data-toggle="tab">Details</a></li>
<%        if !translations.empty? %>
            <li><a href="#terms-translations" role="tab" data-toggle="tab">Translations (<%= translations.count %>)</span></a></li>
<%        end %>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane terms-intro active" id="terms-intro">
<%=           edit_item_link(admin_feature_path(feature.fid)) if authenticated? && object_authorized?(feature) %>
              <div class="row"><!-- INTRO TAB 1 -->
                <div class="col-xs-12">
                  <dl>
                    <div class="term-definition-title">
                      <dt class="sr-only">
                      <dfn><%= feature_name_header(feature) %></dfn>
                      </dt>
                    </div>
                    <div class="terms-kmaps-id">
                      <dt>ID:</dt><dd><%= feature.pid %></dd>
                    </div>
<%=                 feature_name_ul(feature, false) %>
<%=                 note_popup_link_list_for(feature, association_type: FeatureName.name) %>
<%=                 render partial: 'recordings/list', locals: { recordings: feature.recordings } %>
                  </dl>
<%=               render(partial: 'etymologies', locals: { etymologies: feature.etymologies.standard, include_citation: true }) %>
<%=               render(partial: 'model_sentences', locals: { model_sentences: feature.model_sentences }) %>
                  <div class="terms-definition-list-wrapper"><!-- BEGIN terms-definitions -->
<%=                 render partial: 'standard_definitions', locals: { definitions: feature.definitions.standard, is_child: false, prefix: '', def_level: 0 } %>
                  </div> <!-- END terms-definition-list-wrapper -->
<%=               render partial: 'in_house_definitions', locals: { feature: feature } %>
                  <div class="terms-dictionaries-other row">
                    <div class="col-xs-12">
<%=                   render partial: 'legacy_definitions', locals: { feature: feature } %>
                    </div>
                  </div><!-- END terms-dictionaries-other -->
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane terms-intro-details" id="terms-intro-details">
              <div class="row"><!-- INTRO TAB 2 -->
                <div class="col-xs-12">
<%                unless feature.enumeration.nil? %>
                  <div class="col-xs-12">
<%=                 "#{Enumeration.model_name.human.titleize.s}: #{feature.enumeration.value}" %>
                  </div>
<%                end %>
<%                subject_term_associations = feature.non_phoneme_term_associations
                  if !subject_term_associations.blank? %>
                    <dl>
<%=                   render partial: 'subjects', locals: { associations: subject_term_associations, include_citation: true } %>
<%=                   note_popup_link_list_for(feature, association_type: SubjectTermAssociation.name) %>
                    </dl>
<%                end %>
                </div>
              </div>
              <div id="relation_details">
<%            related_count = feature.related_features_counts[:related_features] - 1
              if related_count>0 %>
<%=             render partial: 'relation_details', locals: { feature_label: feature_label, related_features_count: related_count } %>
<%            end %>
              </div>
            </div><!-- END tab panel -->
<%        if !translations.empty? %>
            <div role="tabpanel" class="tab-pane terms-translations" id="terms-translations">
<%=           render partial: 'translation_equivalents', locals: { feature: feature } %>
            </div><!-- END tab panel -->
<%        end %>
          </div> <!-- END tab-content -->
        </div> <!-- END terms-introduction-tabs -->
      </div> <!-- END terms-node-wrapper -->
    </div> <!-- END field-item -->
  </div> <!-- END field-items -->
</div>
<%= content_tag :div, "", id: 'related_subjects_js_data', data: {
      term_index: Feature.config.url,
      asset_index: ShantiIntegration::Source.config.url,
      feature_id: "#{Feature.uid_prefix}-#{feature.fid}",
      domain: 'subjects',
      perspective: 'gen',
      tree: Feature.uid_prefix,
      feature_label: "",
      feature_path: SubjectsIntegration::Feature.get_url('%%ID%%'),
      mandala_path: 'https://mandala.shanti.virginia.edu/%%APP%%/%%ID%%/%%REL%%/nojs',
      feature_fid: feature.fid
    } %>
<%= javascript_on_load do %>
      var relatedSubjectsSolrUtils = kmapsSolrUtils.init({
        termIndex: $('#related_subjects_js_data').data('termIndex'),
        assetIndex: $('#related_subjects_js_data').data('assetIndex'),
        featureId:  $('#related_subjects_js_data').data('featureId'),
        domain: $('#related_subjects_js_data').data('domain'),
        perspective: $('#related_subjects_js_data').data('perspective'),
        tree: $('#related_subjects_js_data').data('tree'), //subjects
      });
      jQuery('.terms-node-wrapper .related_subject .popover-kmaps').kmapsPopup({
        featuresPath: $('#related_subjects_js_data').data('featurePath'),
        domain: 'subjects',
        featureId:  "",
        mandalaURL: $('#related_subjects_js_data').data('mandalaPath'),
        solrUtils: relatedSubjectsSolrUtils
      });
<%  end %>
<%= javascript_on_load do %>
      jQuery('[data-js-kmaps-popup]').kmapsPopup({
        type: POPUP_TYPE_INFO,
      });
      $('.definition-details-wrapper').on('show.bs.collapse', function (event) {
        console.log(event);
        $(event.target).prev().children("a").removeClass('collapsed');
        $(event.target).prev().children("a").addClass('expanded');
      });
      $('.definition-details-wrapper').on('hide.bs.collapse', function (event) {
        console.log(event);
        $(event.target).prev().children("a").addClass('collapsed');
        $(event.target).prev().children("a").removeClass('expanded');
      });
<%  end %>
<%= content_tag :div, "", id: 'related_js_data', data: {
 term_index: Feature.config.url,
 asset_index: ShantiIntegration::Source.config.url,
 feature_id: "#{Feature.uid_prefix}-#{feature.fid}",
 domain: Feature.uid_prefix,
 perspective: current_perspective.code,
 view: current_view.code,
 tree: Feature.uid_prefix,
 feature_label: feature_label,
 feature_path: "#{features_path}/%%ID%%",
 mandala_path: "https://mandala.shanti.virginia.edu/%%APP%%/%%ID%%/%%REL%%/nojs",
 feature_fid: feature.fid,
 language: Language.current.code
} %>
<%= javascript_include_tag 'terms_engine/related-section-initializer' %>
<%= javascript_include_tag('collapsible_list/jquery.kmapsCollapsibleList') %>
