<% sorted_info_sources = feature.in_house_info_sources.collect{|i| InfoSource.find(i) }.reject{ |i| i.nil? }.sort{ |a, b| a.position <=> b.position }
   count = sorted_info_sources.size
   grouped_definitions = feature.definitions.in_house_by_info_source
   sorted_info_sources.each_index do |index|
     info_source = sorted_info_sources[index]
     info_source_id = info_source.id
     definitions = grouped_definitions[info_source_id] %>
   <div class="terms-dictionaries-other-node">	 
     <h4><%= "#{index+1}. " if count>1 %><cite><a href="#"><%=" #{info_source.title}" %></a></cite></h4>
<%   relations_by_type = feature.legacy_relations_by_type(info_source)
     if relations_by_type.size>0 %>
     <dl>
<%     relations_by_type.each do |label, features| %>
         <dt><%= label %></dt> <dd><%= features.collect{ |f| link_to feature_name_header(f), feature_path(f.fid) }.join(', ').html_safe %></dd>
<%     end %>
     </dl>
<%   end
     etymologies = feature.etymologies.in_house_by_info_source[info_source_id] %>
<%=  render(partial: 'etymologies', locals: { etymologies: etymologies, include_citation: false }) %>
<%   subject_term_associations = feature.non_phoneme_term_associations.in_house_by_info_source[info_source_id]
     if !subject_term_associations.blank? %>
     <dl>
<%=    render partial: 'subjects', locals: { associations: subject_term_associations, include_citation: false } %>
     </dl>
<%   end %>
     <div class="terms-definition-list-wrapper"><!-- BEGIN terms-definitions -->
<%=    render partial: 'standard_definitions', locals: { definitions: definitions, is_child: false, prefix: "in_house-#{info_source.id}-", def_level: 0 } %>
     </div> <!-- END terms-definition-list-wrapper -->
   </div>
<% end %>