<header class="sr-only">Other Dictionaries</header>
<h3>Other Dictionaries</h3>
<% sorted_grouped_definitions = grouped_definitions.to_a.collect{ |a| [InfoSource.find(a.first), a.last] }.reject{ |a| a.first.nil? }.sort{ |a, b| a.first.position <=> b.first.position }
   sorted_grouped_definitions.each_index do |index|
     grouped_definition = sorted_grouped_definitions[index]
     info_source = grouped_definition.first
     definitions = grouped_definition.last %>
<div class="terms-dictionaries-other-node">
     <h4><%= "#{index+1}. "%><cite><a href="#"><%=" #{info_source.title}" %></a></cite></h4>
<%   relations_by_type = feature.legacy_relations_by_type(info_source)
     if relations_by_type.size>0 %>
     <dl>
<%     relations_by_type.each do |label, features| %>
         <dt><%= label %></dt> <dd><%= features.collect{ |f| link_to feature_name_header(f), feature_path(f.fid) }.join(', ').html_safe %></dd>
<%     end %>
     </dl>
<%   end
     if definitions.size==1 %>
<%=    render partial: 'legacy_definition', object: definitions.first %>
<%   else %>
       <ul>
<%     definitions.each do |definition| %>
         <li>
<%=      render partial: 'legacy_definition', object: definition %>
         </li>
<%     end %>
       </ul>
<%   end %>
</div>
<% end %>