<p>
<%= other_dictionaries_definition.content.s.html_safe %>
</p>
    <p><a data-toggle="collapse" href="#other-definition-details-<%= other_dictionaries_definition.id %>" role="button" aria-expanded="false" aria-controls="definition-details" class="definition-details-control collapsed">
  <span class="glyphicon"></span>Further Details
    </a></p>
<div id="other-definition-details-<%= other_dictionaries_definition.id %>" class="collapse definition-details-wrapper">
  <dl>
    <dt><%= Language.model_name.human %>:</dt> <dd><%= other_dictionaries_definition.language.name %></dd>
  </dl>
</div>
