<div id="accordion" class="panel-group">
<% first = true
   passages.each do |passage| %>
   <section class="panel panel-default">
     <div class="panel-heading"><a class="accordion-toggle<%= " collapsed" if !first %>" data-parent="#accordion" data-toggle="collapse" href="#collapsePassages-<%= passage.id %>" aria-expanded="true"><span class="glyphicon glyphicon-plus"></span>
<%   passage.citations.each do |citation| %>
<%=    citation.bibliographic_reference.html_safe %><br>
<%   end %>
     </div>
	   <div id="collapsePassages-<%= passage.id %>" class="panel-collapse collapse<%= " in" if first %>">
	     <div class="panel-body">
         <h4><%= Passage.model_name.human.titleize.s %></h4>
<%=      passage.content.html_safe %>
<%=      render partial: 'note', collection: passage.notes %>
<%=      render partial: 'passage_translation', collection: passage.passage_translations %>
       </div>
     </div>
   </section>
<%   first = false if first
   end
   passage_translations.each do |passage_translation| %>
   <section class="panel panel-default">
     <div class="panel-heading"><a class="accordion-toggle<%= " collapsed" if !first %>" data-parent="#accordion" data-toggle="collapse" href="#collapsePassageTranslation-<%= passage_translation.id %>" aria-expanded="true"><span class="glyphicon glyphicon-plus"></span></a>
<%   passage_translation.citations.each do |citation| %>
<%=    citation.bibliographic_reference.html_safe %><br>
 <%  end %>
     <div id="collapsePassageTranslation-<%= passage_translation.id %>" class="panel-collapse collapse<%= " in" if first %>">
       <div class="panel-body">
<%=    render partial: 'passage_translation', object: passage_translation %>
       </div>
     </div>
   </section>
<%   first = false if first			 
   end %>
</div>