<% if list.empty? %>
<%=  empty_collection_message("No #{Etymology.model_name.human(count: :many).s} found.") %>
<% else %>
   <table class="listGrid">
     <tr>
       <th class="listActionsCol"></th>
       <th><%= Etymology.model_name.human.titleize.s %></th>
       <th><%= Etymology.human_attribute_name('object_type').s %></th>
       <th><%= Citation.model_name.human(count: :many).titleize.s %></th>
     </tr>
<%   list.each do |item| %>
     <tr>
       <td class="centerText">
         <%=      list_actions_for_item(item, delete_path: polymorphic_path([:admin, item.context,item]),
         edit_path: polymorphic_path([:admin, item.context,item], {action: :edit}),
         view_path: polymorphic_path([:admin, item.context,item])) %>
       </td>
       <td><%= item.content.s %></td>
       <td><p><%= item.etymology_type_association.nil? ? "-" : item.etymology_type_association.subject['header'].s %></p></td>
       <td><%= accordion_citation_list_fieldset(object: item) %></td>
     </tr>
<%   end %>
   </table>
<% end %>
