<%
if object.context.instance_of? Feature
  add_breadcrumb_item feature_link(object.feature)
  add_breadcrumb_item link_to Etymology.model_name.human(count: :many).titleize.s, admin_feature_path(object.feature.fid, section: 'etymologies')
  add_breadcrumb_item link_to object.content.strip_tags.truncate(25).s, polymorphic_path([:admin, object.feature], section: 'etymologies')
else
  add_breadcrumb_item feature_link(object.feature)
  add_breadcrumb_item link_to Definition.model_name.human(count: :many).titleize.s, polymorphic_path([:admin, object.feature], section: 'definitions')
  add_breadcrumb_item link_to object.context.content.strip_tags.truncate(25).s, polymorphic_path([:admin, object.feature, object.context])
  add_breadcrumb_item link_to Etymology.model_name.human(count: :many).titleize.s, polymorphic_path([:admin, object.feature, object.context], section: 'etymologies')
  add_breadcrumb_item link_to object.content.strip_tags.truncate(25).s, polymorphic_path([:admin, object.feature, object.context ], section: 'etymologies')
end
 
add_breadcrumb_item ts 'edit.this'
%>
<section class="panel panel-content">
  <div class="panel-heading">
     <h6>Editing <%= Etymology.model_name.human.titleize.s %></h6>
  </div>
  <div class="panel-body">
<%= form_with(model: [:admin, object.context, object], local: true) do |form| %>
      <%=  render partial: 'form_fields', locals: {form: form} %>
      <% if object.context.instance_of? Feature %>
        <%=  link_to ts('cancel.this'), polymorphic_path([:admin, object.context], section: 'etymologies') , class: 'btn btn-primary form-submit', id: 'edit-cancel' %> |
      <% else %>
        <%=  link_to ts('cancel.this'), polymorphic_path([:admin, object.context.feature,  object.context], section: 'etymologies') , class: 'btn btn-primary form-submit', id: 'edit-cancel' %> |
      <% end %>
      <%=  globalized_submit_tag 'update.this', class: 'btn btn-primary form-submit' %>
<% end %>
  </div> <!-- END panel-body -->
 </section> <!-- END panel -->
